@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/pretendard/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/pretendard/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/pretendard/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/pretendard/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/pretendard/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/pretendard/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/pretendard/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/pretendard/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/pretendard/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
}

:root {
  --thin: 100;
  --extraLight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --extraBold: 800;
  --black: 900;
}
* {
  font-family: 'Pretendard';
  font-weight: var(--regular);
}

/* 폰트 */
.font_bold {
  font-weight: var(--bold);
}
.font_semibold {
  font-weight: var(--semiBold);
}

/* 버튼 */
.btn {
  padding: 0 16px;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
}

.btn_blue {
  background-color: rgb(0, 0, 255);
  color: #fff;
}
